body {
    font-family: Monospace;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: rgb(137, 145, 192);
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 5;
    display:block;
}

.left {
    position:absolute;
    left:0;
    top:10%;
}
.leftSecondRow{
    position:absolute;
    left:0;
    top:20%;
}
.leftThirdRow{
    position:absolute;
    left:0;
    top:30%;
}
.leftFourthRow{
    position:absolute;
    left:0;
    top:40%;
}
.leftFifthRow{
    position:absolute;
    left:0;
    top:50%;
}
.leftSixthRow{
    position:absolute;
    left:0;
    top:60%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

canvas {
    width: 200px;
    height: 200px;
    margin: 100px;
    padding: 0px;
    position: static; /* fixed or static */
    top: 100px;
    left: 100px;
}